.login-page {
  height: 100%;
  width: 100%;
  background-image: url('../assets/images/d.jpg');
}

.login-form {
  background-image: url('../assets/images/d.jpg');
  padding-top: 60px;
}

.app-header {
  position: fixed;
  width: 100%;
}

.app-dashboard {
  padding-top: 70px;
}

.card-data:hover {
  box-shadow: 0 0 35px 0 #d8d8d8;
  background-color: #e2e7e9;
}

.md-card-image {
  padding: 20px;
}

.md-card-image:hover {
  padding: 0px !important;
}

.card-info {
  font-size: 12px;
  font-weight: 600;
}

.resize {
  margin-left: 300px;
}

md-sidenav, .sideBarContent {
  background-color: #2a3f54;
  color: white;
}

.md-icon {
  border-color: white !important;
}

.side-menu {
  margin-left: 35px;
}

/* the entire scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

/* the track (progress bar) of the scrollbar. */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* the draggable scrolling handle. */

::-webkit-scrollbar-thumb {
  background: #888
}

::-webkit-scrollbar-thumb:hover {
  background: :#555;
}
