<div layout="row" layout-wrap layout-align="center">
  <md-card ng-repeat="info in allMobilesInfo">
    <md-card-content layout="column" layout-align="center center">
      <img style="height:300px;width:350px" img-src={{info.images}} class="md-card-image">
      <div class="md-toolbar-tools usableTool" layout-align="center center">
        <table style="width:100%">
          <tr>
            <td>price</td>
            <td>${{info.price}}</td>
          </tr>
          <tr>
          <tr>
            <td>Manufacturer</td>
            <td>{{info.specs.manufacturer}}</td>
          </tr>
          <tr>
            <td>Storage</td>
            <td>{{info.specs.storage}} GB</td>
          </tr>
          <tr>
            <td>OS</td>
            <td>{{info.specs.os}}</td>
          </tr>
          <tr>
            <td>Camera</td>
            <td>{{info.specs.camera}} Pixel</td>
          </tr>
        </tr>
    </md-card-content>
  </md-card>
