<div>
<!-- zeeshan-directive -->
  <section layout="row" flex>
    <md-sidenav md-component-id="left" class="md-sidenav-left">
      <form>
        <md-input-container>
          <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools"  style="padding-right;padding-right: 173px;">Mobile Details</h1>
        </md-toolbar>
        <h2> Brand</h2>
        </md-input-container>
        <div>
                  <md-checkbox aria-label="Sony">
                    <!-- <md-checkbox ng-model="data.cb1" aria-label="Sony"> -->
                  Sony
                  </md-checkbox>
                  <br>
                  <md-checkbox aria-label="Samsung">
                  Samsung
                  </md-checkbox>
                  <br>
                  <md-checkbox aria-label="Apple">
                  Apple
                  </md-checkbox>
                  <br>
                  <md-checkbox aria-label="Nokia">
                  Nokia
                  </md-checkbox>
       </div>
       <div>
         <h2> OS </h2>
         <md-checkbox aria-label="IOS">
          IOS
         </md-checkbox>
         <br>
         <md-checkbox aria-label="Android">
          Android
         </md-checkbox>
       </div>
<div>
  <h2>Camera</h2>
  
</div>

      </form>
    </md-sidenav>

  </section>

</div>
