<div>
<!-- zeeshan-directive -->
  <section layout="row" flex>
    <md-sidenav md-component-id="left" class="md-sidenav-left">
      <form>
        <md-input-container>
          <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">Mobile Details</h1>
        </md-toolbar>
          <!-- <label for="testInput">Test input></label> -->
          <!-- <input id="testInput" type="text" ng-model="data" md-autofocus> -->
        </md-input-container>
<div>


      </form>
    </md-sidenav>

  </section>

</div>
