<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false">
      <md-icon md-svg-icon="bower_components/material-design-icons/image/svg/design/menu.svg"></md-icon>
    </md-button>

    <h2 flex md-truncate>Mobile Online Shopping</h2>

    <md-button class="md-icon-button" aria-label="Favorite">
      <!-- <md-icon md-svg-icon="bower_components/material-design-icons/image/svg/design/ic_details_48px.svg" class="favorite-icon"></md-icon> -->
     </md-button>

    <md-button class="md-icon-button" aria-label="More">
      <!-- <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon> -->
    </md-button>
  </div>
</md-toolbar>
